.container {
width: 710px;	
}

body {
	background: #cff
}

header {
	padding-top: 20px;
}

header img {
	padding: 1em;
	background: #fff
}

section{
	padding-top: 1em;
	background: #fff;
	font-size: 120%;
	padding: 20px;
}

/*links*/
a {
	color: #09c;
	text-decoration: none;
}

a:hover {
	color: #069;
	text-decoration: underline;
}

a:visited {
	color: #069
}

/*navigation*/
nav {
	float: right;
	background: white;
	padding: 0 0.7em;
	white-space: nowrap;

}

nav ul{
	padding: 0;
	margin: 0;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
}

nav ul li a {
	padding: 0 0.5px;
	font-weight: bold;
}


nav ul li a:visited {
	color: #09c;
}

nav ul li a:hover {
	text-decoration: underline;
}

a.signup_button {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	width: 190px;
	color: #fff;
	background: #006400;
	font-size: 150%;
	font-weight: bold;
	padding: 20px;
}


/*round corners*/

.round {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

footer  {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	text-align: center;
	width: 720px;
}

footer nav {
	float: none;
}

section h1 {
	font-size: 200%;
}

/*profile page*/

table.profile {
	width: 100%;
	margin-bottom: 0;
}

td.main {
	width: 70%;
	padding: 1em;
}

.profile img.gravatar {
	border: 1px solid #999;
	margin-bottom: -15px;
}

td.sidebar {
	width: 30%;
	vertical-align: top;
	background:#ffc	;
	padding: 1em; 
}

/*sign up*/

div.field , div.action {
	margin-bottom: 10px;
}