<% if object.errors.messages.any?  %>
<div id ="errors_description">
	<h2>
		<%= pluralize(object.errors.count,"errors") %>
		prohibited this the <%= object.class.to_s.underscore.humanize.downcase %> from being saved: 
	</h2>
	<p>there were problems with those fields:</p>
	<ul>
		<% object.errors.full_messages.each do |message|  %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>