<% @user ||= current_user %>
<table Summary="stats user">
	<tr>
		<td >
			<span class="stat" >
				<a href="<%= following_user_path(@user.id) %>"  id="following">
					<%= @user.following.count %> following
				</a>
			</span>
		</td>

		<td >
			<span class="stat" >
				<a href="<%= followers_user_path(@user.id) %>" id="followers">
					<%= pluralize(@user.followers.count,"follower") %>
				</a>
			</span>
		</td>
	</tr>
</table>