<% @user ||= current_user %>
<table Summary="stats user">
	<tr>
		<td >
			<span class="following">
				<a href="<%= following_user_path(@user.id) %>" >
					<%= @user.following.count %> following
				</a>
			</span>
		</td>

		<td >
			<span class="followers">
				<a href="<%= followers_user_path(@user.id) %>" >
					<%= pluralize(@user.followers.count,"follower") %>
				</a>
			</span>
		</td>
	</tr>
</table>